<!DOCTYPE html>
<html>

    <head>
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                padding-left: 4px;
                padding-right: 4px;
            }
        </style>
    </head>

    <body>
        <h2>Daily digest for {{ yesterday|date:"Y-m-d" }}</h2>
        <p>Prepared at {{ now|date:"Y-m-d H:i:s e" }}</p>

        <p>
            <b>Monitor: </b> <a href="{{ monitor_url }}">{{ name }}</a>
            <br>
            <b>Channel group: </b><a href="{{ channel_group_url }}">{{ channel_group }}</a>
            <br>
            <b>Metric: </b><a href="{{ metric_url }}">{{ metric }}</a>
            <br>
            Checking {{ stat }} over {{ interval_count }} {{ interval_type }}{{ interval_count|pluralize }}
        </p>

        <p>{{ n_in_alert }} of {{ trigger_contexts|length }} triggers were in alert over the last day</p>
        {% for trigger_context in trigger_contexts %}
        <hr>
        <div>
            <h3>TRIGGER {{ forloop.counter }} WAS
                {% if not trigger_context.in_alarm %}
                NOT
                {% endif %}
                in alert during {{ yesterday|date:"Y-m-d" }}</h3>
            <p>Description: {{ trigger_context.trigger_description|safe }}</p>
            {% if trigger_context.in_alarm %}
            <h4>Summary of alerts:</h4>
            <p>In alert: {{ trigger_context.in_alarm_times|safe|cut:"'" }}
                <br>
                Out of alert: {{ trigger_context.out_of_alarm_times|safe|cut:"'" }}
            </p>
            {% if trigger_context.breaching_channels %}
            <h4>Channels breaching during {{ yesterday|date:"Y-m-d" }}:</h4>
            <table>
                <tr>
                    <th>NSLC</th>
                    <th>Last breaching date</th>
                </tr>
                {% for breaching_channel in trigger_context.breaching_channels %}
                <tr>
                    <td>{{ breaching_channel.channel }}</td>
                    <td>{{ breaching_channel.timestamp|date:"Y-m-d H:i:s" }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% endif %}
            <p>
                <a href="{{remote_host}}{{trigger_context.unsubscribe_url}}">
                    Unsubscribe from alarms for this trigger</a>
            </p>
        </div>
        {% endfor %}
    </body>

</html>