
<!DOCTYPE html>
<html>
    <head>
        <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 4px;
            padding-right: 4px;
        }
        </style>
    </head>

    <body>
        <p>Daily digest for {{ yesterday|date:"Y-m-d" }}, prepared at {{ now|date:"Y-m-d H:i:s e" }}</p>

        <p>Monitor: {{ name }}<br>
        Channel group: {{ channel_group }}<br>
        Metric: {{ metric }}<br>
        Checking {{ stat }} over {{ interval_count }} {{ interval_type }}{{ interval_count|pluralize }}</p>

        <p>{{ n_in_alert }} of {{ trigger_contexts|length }} triggers were in alert over the last day</p>
    {% for trigger_context in trigger_contexts %}
        <hr>
        <p>TRIGGER {{ forloop.counter }} WAS {% if not trigger_context.in_alarm %}NOT{% endif %}
        in alert during {{ yesterday|date:"Y-m-d" }}<br>
        Description: {{ trigger_context.trigger_description|safe }}</p>
    {% if trigger_context.in_alarm %}
        <p>Summary of alerts:<br>
        In alert: {{ trigger_context.in_alarm_times|safe|cut:"'" }}<br>
        Out of alert: {{ trigger_context.out_of_alarm_times|safe|cut:"'" }}</p>
    {% if trigger_context.breaching_channels %}
        <p>Channels breaching during {{ yesterday|date:"Y-m-d" }}:</p>
        <table>
            <tr>
                <th>NSLC</th>
                <th>Last breaching date</th>
            </tr>
        {% for channel, breaching_date in trigger_context.breaching_channels.items %}
            <tr>
                <td>{{ channel }}</td>
                <td>{{ breaching_date|date:"Y-m-d H:i:s" }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% endif %}
    {% endfor %}
    </body>
</html>